#bookmarks-panel.bookmarks-panel {
    height: 100%;
    background-color: #1e1e1e;
}

#bookmarks-panel #no-bookmarks-wrapper {
    padding-top: 2em;
    letter-spacing: 0.5px;
    font-size: 1em;
}

#bookmarks-panel #no-bookmarks-wrapper.hidden {
    display: none;
}

#bookmarks-panel #bookmarks-wrapper.hidden {
    display: none;
}

#bookmarks-wrapper .bookmark-item .bookmark-file-header {
    background-color: #333;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#bookmarks-wrapper .bookmark-item .bookmarked-lines {
    display: flex;
    flex-direction: column;
    gap: 0.33em;
}

#bookmarks-wrapper .bookmark-item .bookmarked-line {
    display: flex;
    justify-content: space-between;
    margin: 0 1.5em 0 3.5em;
}
